Lambda School Data Science

*Unit 4, Sprint 1, Module 3 Assignment Kaggle*

---

# Start


Kaggle Challenge

In [90]:
# Data Cleaning
## Lemmitization
## Tokenization


# Pipeline
## Stop words
## Model


# Count Vectorize
# TFIDF
# Word Embeddings

# Gensim LDA (?)


# Output
## Squarify Plot

## Import Data

In [3]:
import pandas as pd


df  = pd.read_csv('train.csv')
test   = pd.read_csv('test.csv')

train.head()

In [54]:
test.head()

     id                                        description
0   955  Think carnival aromas—the good ones, anyway—me...
1  3532  A blend of three bourbons, between 6 and 12 ye...
2  1390  The nose is focused on cereal, hints of fresh ...
3  1024  Swiss-based Chapter 7 released this 19 year ol...
4  1902  Valkyrie replaces the current Dark Origins exp...

## Data Cleaning

In [ ]:
# Split the data
from sklearn.model_selection import train_test_split


target      = 'category'
features    = ['description']

train, test = train_test_split(df
                              ,train_size   = 0.60
                              ,random_state = 6
                              )

train, val  = train_test_split(train
                              ,train_size   = 0.60
                              ,random_state = 6
                              )

In [ ]:
X_train  = train[features]
y_train  = train[target]

X_val    =  val[features]
y_val    =  val[target]

X_test   =  test[features]
y_test   =  test[target]

train.shape, test.shape

In [ ]:
# We need to take in our data and clean it, hopefully to make the model better as a result.
# We need a way to confirm that it's actually better though.


# Model testing, baseline vs old, vs new.

## Create models

### Baseline

In [76]:
baseline_df = pd.DataFrame(data = {'id'      : test['id'].copy()
                                  ,'category': 1
                                  }
                          )


# baseline_df.to_csv('baseline.csv', index = False)

In [ ]:
baseline_guess  = 'Early Access'
baseline_y_pred = [baseline_guess] * len(filtered_df)

filtered_df[target].value_counts(normalize = True)

In [91]:
baseline_df.where(baseline_df['id'] == )

       id  category
0     955         1
1    3532         1
2    1390         1
3    1024         1
4    1902         1
..    ...       ...
283  1834         1
284  2848         1
285  3874         1
286  2377         1
287  2243         1

[288 rows x 2 columns]

In [99]:
train['id']

0          1
1          2
2          3
3          4
4          9
        ...
2581    4146
2582    4153
2583    4154
2584    4155
2585    4157
Name: id, Length: 2586, dtype: int64

In [92]:
baseline_df['category']

0      1
1      1
2      1
3      1
4      1
      ..
283    1
284    1
285    1
286    1
287    1
Name: category, Length: 288, dtype: int64

In [89]:
train

        id                                        description  category
0        1  A marriage of 13 and 18 year old bourbons. A m...         2
1        2  There have been some legendary Bowmores from t...         1
2        3  This bottling celebrates master distiller Park...         2
3        4  What impresses me most is how this whisky evol...         1
4        9  A caramel-laden fruit bouquet, followed by une...         2
...    ...                                                ...       ...
2581  4146  Earthy, fleshy notes with brooding grape notes...         1
2582  4153  With its overt floral perfume notes and the sc...         4
2583  4154  An unaged whiskey from Carroll County, Iowa, w...         3
2584  4155  Fiery peat kiln smoke, tar, and ripe barley on...         1
2585  4157  Although it’s not on the label, Cavalry uses t...         2

[2586 rows x 3 columns]

### Model Builder

joblib / pickle library

Need to save models

In [ ]:
import pickle

In [83]:
from sklearn.pipeline                import Pipeline
from sklearn.datasets                import fetch_20newsgroups
from sklearn.ensemble                import RandomForestClassifier
from sklearn.model_selection         import GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer


pipe        = Pipeline([('vect' ,TfidfVectorizer(stop_words  = 'english'
                                                ,ngram_range = (1, 2)
                                                )
                        )
                       ,('clf'  ,RandomForestClassifier())
                       ])

parameters  = {'vect__max_df'      : (0.75 ,1.0)
              ,'vect__min_df'      : (0.02 ,0.05)
              ,'vect__max_features': (500  ,1000)
              ,'clf__n_estimators' : (5    ,10)
              ,'clf__max_depth'    : (15   ,20)
              }

grid_search = GridSearchCV(pipe
                          ,parameters
                          ,cv      = 5
                          ,n_jobs  = -1
                          ,verbose = 1
                          )
grid_search.fit(train['description']
               ,train['category']
               )

Fitting 5 folds for each of 32 candidates, totalling 160 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 160 out of 160 | elapsed:   22.0s finished

In [85]:
# Best score against the training data.
# Not nessisarily better to have near 100% here.

model.best_score_

0.8565312203610077

In [ ]:
# Model testing, baseline vs old, vs new.

## Prep Submission

Uses the model on the test dataframe, then builds a new dataframe with the test id column for comparison against the true values on kaggle.

In [79]:
submission = pd.DataFrame(data = {'id'      : test['id'] 
                                 ,'category': grid_search.predict(test['description'])
                                 })
submission.to_csv('submission.csv', index = False)